[flake8]
max-line-length = 150
exclude = 
    .git,
    __pycache__,
    .venv,
    build,
    dist,
    *.egg-info

# Compatibility with black and other ignores
extend-ignore = E203, W503, W293, F401

# Complexity settings
max-complexity = 20

# Documentation settings
docstring-convention = google 